div{
    margin: 0 auto;
    width: 500px;
    border: 1px solid green;
    padding: 10px;
    text-align: justify;
}

img{
    float: left;
    margin-right: 15px;
}

#right{
    float: right;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 0;
}

p{
    margin: 0;
}

