#parent {
    margin: 0 auto;
    border: 1px solid green;
    width: 500px;
    height: 300px;
    position: relative;
}

#child1 {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -150px;
}

#child2 {
    border: 1px solid red;
    width: 100px;
    height: 100px;
    position: absolute;
    right: -150px;
}

