li:first-child{
    color:red;
}

li:last-child{
    color: green;
}

li:nth-child(3){
    color:aqua;
}

li:nth-child(even){
    color:blueviolet;
}

li:nth-last-child(2){
    color: mediumblue;
}

li:only-child{
    color:peru;
}

li{
    border: 1px solid black;
}

li:empty{
    border: 1px dashed blue;
}